<!doctype html>
<html>
    {% include head.html %}
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
    {% feed_meta %}
    {% seo %}
  <body>
    {{ content }}
  </body>

  <script src="{{ site.baseurl }}/assets/script/jquery-3.5.0.min.js"></script>
  <script src="{{ site.baseurl }}/assets/script/slick.min.js"></script>
  <script>
    $(".slideshow").slick({
      arrows: false,
      dots: false,
      infinite: true,
      speed: 500,
      fade: true,
      slidesToShow: 1,
      cssEase: 'ease',
      lazyLoad: 'ondemand',
    });
    $(".heart.left").click(function(){ $(".slideshow").slick("slickPrev"); });
    $(".heart.right").click(function(){ $(".slideshow").slick("slickNext"); });
    
    $("#theframe").on("load", function(){
      $("#theframe").click();
    });
  </script>
</html>